NEXT_PUBLIC_SITE_URL=https://checkers-zeta-seven.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_mkhm4czb
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0xE52F15cdc3af18b6a17DEE1f5d0dAF96aCa261Ad
